body{
   background:#D5DED6;
    font-size:18sp;
    font-family:Roboto;
     line-height:150%;
     }
     .header{
         box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
         transition: 0.3s;
         padding:1px 12px 1px 12px;
        	margin:5px 0 5px 0;
         background:black  ;
         text-align:justify;
         color:white;
     }

     .card{
     	box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
         transition: 0.3s;
     	padding:1px 12px 1px 12px;
     	margin:6px 0 6px 0;
     	background:white;
     	text-align:justify;
     	overflow:auto;
     	border-radius: 5px;
     }


     table, th, td {
         border: 1px solid black;
         border-collapse: collapse;
     }
     th{
         padding: 5px;
         text-align: center;
     }
     td{
         padding: 5px;
     text-align: left;}

     img{
         width:100%;
     }


     ol{
      padding:15px;
      margin:0;
     }
     li{
     padding-bottom:25px;
     }
     ul{
     padding: 15px;
     margin:0;
     }
