body{
    background: #ECEFF1;
    font-size:18sp;
    font-family:Verdana;
     line-height:150%;
}
.header{
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 12px 3px 10px;
   	margin:5px 2px 5px 2px;
    background:#607D8B;
    border-radius: 2px;
    text-align:justify;
    color:white;
}
.card{
	box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	padding:15px 12px 1px 12px;
	margin:6px 0 6px 0;
	background:#ffffff;
	border-radius: 2px;
	text-align:justify;
	overflow:auto;
}
.card ul{
    padding:1px 10px 1px 18px;
}
.card ol{
    padding:1px 10px 1px 18px;
}
.card_algo{
   	overflow:auto;
}

h4{
    margin: 5px;
}